<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
</head>

<body>
    <h1>Welcome to the text analyazer. Enter your text</h1>
    <form action='/analyze' method='get'>
        <textarea name="text" id="" cols="30" rows="10" style="width: 627px; height: 209px;"></textarea><br>
        <input type="checkbox" name="removepunc" >Remove puncuation
        <input type="checkbox" name="capitalize" >Capitalize 
        <input type="checkbox" name="lower" >Lower 
        <input type="checkbox" name="charCount" >Count Characters 
        
            <button type="Submit">Analyaze Text</button>
        
    </form>
</body>

</html>